@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@400;600&display=swap');

:root {
  --clr-orange: #feb960;
  --clr-white: #fff;
  --clr-gray: #bbbbbb;
  --clr-black-400: #343434;
  --clr-black-500: #202020;
  --clr-black-600: #181818;
  
  --ff-titles: 'Merriweather', serif;
  --ff-paragraphs: 'Open Sans', sans-serif;

  --fs-xl: 3.4375rem; /* 55 */
  --fs-l: 2.5rem; /* 40 */
  --fs-600: 1.875rem; /* 30 */
  --fs-500: 1.0625rem; /* 17 */
  --fs-400: 0.875rem; /* 14 */
  --fs-300: 0.8125rem; /* 13 */
}

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-paragraphs);
  font-size: var(--fs-400);
  color: var(--clr-white);
}
ul {
  list-style-type: none;
}
h1,
h2,
h3 {
  font-family: var(--ff-titles);
}
h1 {
  font-size: var(--fs-xl);
  font-weight: 400;
}
h2 {
  font-size: var(--fs-l);
}
h3 {
  font-size: var(--fs-600);
}
h4 {
  font-size: var(--fs-300);
  text-transform: uppercase;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-white);
}
.section-title {
  max-width: 750px;
  font-size: var(--fs-l);
  font-weight: 400;
}
.section-desc {
  color: var(--clr-orange);
  font-size: var(--fs-400);
  margin-bottom: 30px;
}
.container {
  max-width: 1150px;
  margin-inline: auto;
}
.text-orange {
  color: var(--clr-orange);
}
.btn {
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--ff-paragraphs);
  font-size: var(--fs-400);
  color: var(--clr-white);
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-long-arrow-alt-right {
  color: var(--clr-orange);
  transition: all .2s ease;
  margin-left: 5px;
  font-size: 1rem;
}
.btn:hover .fa-long-arrow-alt-right {
  transform: translateX(30%);
}
.arrow-down {
  transition: all .2s ease;
  color: var(--clr-orange);
}
.arrow-down:hover {
  transform: translateY(10%);
}
.vertical-slim {
  position: relative;
}
.vertical-thicc {
  position: relative;
}
.vertical-slim::before {
  content: '';
  height: 120px;
  width: 1px;
  background-color: var(--clr-orange);
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-bottom: 10px;
}
.vertical-thicc::before {
  content: '';
  height: 120px;
  width: 2px;
  background-color: var(--clr-orange);
  position: absolute;
}
/* home section */

.home {
  background-image: url('img/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__title {
  border: 1px solid #5c5c5c;
  padding-block: 50px;
  max-width: 750px;
  margin-bottom: 30px;
  line-height: 1.6;
}
.home__list {
  display: flex;
  justify-content: center;
}
.home__link {
  padding-inline: 10px;
  position: relative;
  transition: color .2s ease-in-out;
}
.home__link:hover {
  color: var(--clr-orange);
}
.home__link::after {
  content: '';
  height: 55%;
  width: 1px;
  background-color: var(--clr-orange);
  position: absolute;
  top: 55%;
  right: 0;
  transform: translateY(-50%);
}
.home__item:first-child > .home__link {
  padding-inline-start: 0;
}
.home__item:last-child > .home__link {
  padding-inline-end: 0;
}
.home__item:last-child > .home__link::after {
  display: none;
}
.home .arrow-down{
  display: inline-block;
  margin-top: 10%;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.home .section-footer {
  position: absolute;
  bottom: 42px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* services */

.services {
  background-color: var(--clr-black-500);
  padding-block: 134px;
  text-align: center;
}
.services__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: start;
  margin-top: 100px;
}
.feature {
  max-width: 230px;
}
.feature__icon i{
  color: var(--clr-orange);
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.feature__title {
  font-weight: 500;
  margin-bottom: 20px;
}
.feature__desc {
  color: var(--clr-gray);
  line-height: 2;
  margin-bottom: 30px;
}
/* projects */
.projects {
  background-color: var(--clr-black-600);
  padding-block: 134px;
}
.projects__content {
  display: flex;
  justify-content: center;
  position: relative;
}
.projects__headings {
  position: absolute;
  left: 0;
  margin-top: 136px;
  z-index: 1;
}
.projects__headings h4::before {
  bottom: 35px;
}
.projects__title {
  font-size: var(--fs-xl);
  font-weight: 500;
}
.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 173px;
}
.slider {
  width: 800px;
  height: 600px;
  background-color: gray;
}
.slider-bars {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 40px;
}
.bar {
  width: 30px;
  height: 3px;
  background-color: var(--clr-gray);
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}
.bar:hover {
  background-color: var(--clr-orange);
}
.bar--active {
  background-color: var(--clr-orange);
}
.projects__buttons {
  align-self: end;
  margin-bottom: 178px;
  margin-left: 20px;
}
.projects__buttons::before {
  top: 63px
}
.projects__buttons .btn:first-child  {
  margin-bottom: 10px;
}
/* testimonials */
.testimonials {
  background-color: var(--clr-black-500);
  padding-block: 134px;
  text-align: center;
}
.testimonials__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.companies {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0;
}
.company {
  display: flex;
  align-items: center;
}
.testimonials__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonial {
  max-width: 750px;
  background-color: var(--clr-black-600);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 60px;
}
.testimonial__img {
  margin-bottom: 40px;
}
.testimonial__paragraph {
  font-size: var(--fs-500);
  font-family: var(--ff-titles);
  color: var(--clr-gray);
  margin-bottom: 40px;
  line-height: 1.8;
}
.testimonial__name {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}
.testimonial__name::before {
  content: '';
  height: 1px;
  width: 180px;
  background-color: var(--clr-gray);
  opacity: .5;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 130%;
}
.testimonial__name::after {
  content: '';
  height: 1px;
  width: 180px;
  background-color: var(--clr-gray);
  opacity: .5;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 130%;
}
.testimonial__role {
  font-size: var(--fs-300);
}
/* team */
.team {
  background-color: var(--clr-black-600);
  padding-block: 134px;
  text-align: center;
}
.team__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.member {
  max-width: 290px;
  padding: 50px 80px;
}
.member--ceo {

}
.ceo-box {

}
.ceo-box__img {
  border-radius: 50%;
}
.ceo-box__headings {

}